<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.organizationpanel">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_organizationpanel">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".ui.addProgram.AddProgramActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addEvent.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organizationPanel.OrganizationPanelActivity"
            android:exported="false" />
    </application>

</manifest>