<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.wecollabs">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeCollabs"
        tools:targetApi="31">
        <activity
            android:name=".ui.listGoal.ListGoalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.searchEvent.SearchEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.programDetail.ProgramDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.listArticle.ListArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.articleDetail.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.organizationDetail.OrganizationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.listOrganization.ListOrganizationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJlzBifhuxGhYIoMGEyc8YKB2W5q0j7U8" />

        <activity
            android:name=".ui.eventDetail.DetailEventActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_event" />
        <activity
            android:name=".ui.listEvent.ListEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>